* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* FONDO */
body {
    background: linear-gradient(
        -45deg,
        #0a0b1e,
        #2d1b4d,
        #120912,
        #1a1a2e
    );

    background-size: 400% 400%;
    animation: alienBg 12s ease infinite;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

/* ANIMACION FONDO */
@keyframes alienBg {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* TITULO */
.round-title {
    position: fixed;
    inset: 0;

    background: rgba(10,11,30,0.95);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1000;
    animation: titleFade 4s forwards;
}

.round-title h1 {
    font-size: 48px;
    color: #00f3ff;
}

.round-title h2 {
    font-size: 22px;
    color: #ff007a;
    margin-top: 10px;
}


/* Anim titulo */
@keyframes titleFade {

    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; pointer-events: none; }

}

/*-------------------------------*/

.game-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#player {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
}

.item {
    position: absolute;
    width: 55px;
    height: 55px;
}

.heart {
    background: url("../bg/completo.png") no-repeat center/contain;
}

.bad {
    background: url("../bg/ozuna.png") no-repeat center/contain;
}

#score {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 22px;
    color: #fff;
}
