* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* FONDO */
body {
    background: linear-gradient(
        -45deg,
        #0a0b1e,
        #2d1b4d,
        #120912,
        #1a1a2e
    );

    background-size: 400% 400%;
    animation: alienBg 12s ease infinite;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

/* ANIMACION FONDO */
@keyframes alienBg {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* TITULO */
.round-title {
    position: fixed;
    inset: 0;

    background: rgba(10,11,30,0.95);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1000;
    animation: titleFade 4s forwards;
}

.round-title h1 {
    font-size: 48px;
    color: #00f3ff;
}

.round-title h2 {
    font-size: 22px;
    color: #ff007a;
    margin-top: 10px;
}


/* Anim titulo */
@keyframes titleFade {

    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; pointer-events: none; }

}



/* POPUP OMITIR */

.skip-popup {

    position: fixed;
    inset: 0;

    background: rgba(5,5,15,0.9);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2000;
}


.skip-box {

    background: #0a0b1e;

    padding: 40px 55px;

    border-radius: 25px;

    text-align: center;

    border: 2px solid #ff007a;

    box-shadow:
        0 0 15px #ff007a,
        0 0 30px #00f3ff,
        0 0 60px #ff007a;

    animation: pop 0.6s ease;

}


.skip-box h2 {

    color: #00f3ff;
    margin-bottom: 15px;
    font-size: 26px;
}



/* ANIM */

@keyframes pop {

    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }

}


.hidden {
    display: none;
}
